<div class="table-responsive">
    <table class="table table-striped table-hover table-border">
        <thead class="h5 big strong text-left">
            <tr>
                <td class="col col-sm-2"><a href="#" {{action 'sortBy' controller.sortable_clusters 'uc' 'cluster_name'}}>Name</a> 
                	<i {{bind-attr class="sorting_info.uc_cluster_name_show:glyphicon:hide sorting_info.uc_cluster_name_show:small:hide sorting_info.uc_cluster_name_dir:glyphicon-arrow-up:glyphicon-arrow-down"}}></i></td>
                <td><a href="#" {{action 'sortBy' controller.sortable_clusters 'uc' 'action_date'}}>Creation Date</a> 
                	<i {{bind-attr class="sorting_info.uc_action_date_show:glyphicon:hide sorting_info.uc_action_date_show:small:hide sorting_info.uc_action_date_dir:glyphicon-arrow-up:glyphicon-arrow-down"}}></i> </td>
                <td id="id_label_status"><a href="#" {{action 'sortBy' controller.sortable_clusters 'uc' 'resorted_status'}}>Cluster Status</a> 
                	<i {{bind-attr class="sorting_info.uc_resorted_status_show:glyphicon:hide sorting_info.uc_resorted_status_show:small:hide sorting_info.uc_resorted_status_dir:glyphicon-arrow-up:glyphicon-arrow-down"}}></i></td>
                <td id="id_label_hdp_status"><a href="#" {{action 'sortBy' controller.sortable_clusters 'uc' 'hadoop_status'}}>Hadoop Status</a>
                	<i {{bind-attr class="sorting_info.uc_hadoop_status_show:glyphicon:hide sorting_info.uc_hadoop_status_show:small:hide sorting_info.uc_hadoop_status_dir:glyphicon-arrow-up:glyphicon-arrow-down"}}></i></td>
                <td><a href="#" {{action 'sortBy' controller.sortable_clusters 'uc' 'cluster_size'}}>Size</a>
                	<i {{bind-attr class="sorting_info.uc_cluster_size_show:glyphicon:hide sorting_info.uc_cluster_size_show:small:hide sorting_info.uc_cluster_size_dir:glyphicon-arrow-up:glyphicon-arrow-down"}}></i></td>
                <td><a href="#" {{action 'sortBy' controller.sortable_clusters 'uc' 'workflow_enabled'}}>Workflow-enabled</a>
                	<i {{bind-attr class="sorting_info.uc_workflow_enabled_show:glyphicon:hide sorting_info.uc_workflow_enabled_show:small:hide sorting_info.uc_workflow_enabled_dir:glyphicon-arrow-up:glyphicon-arrow-down"}}></i></td>
                <td><a href="#" {{action 'sortBy' controller.sortable_clusters 'uc' 'master_IP'}}>Active IP</a>
                	<i {{bind-attr class="sorting_info.uc_master_IP_show:glyphicon:hide sorting_info.uc_master_IP_show:small:hide sorting_info.uc_master_IP_dir:glyphicon-arrow-up:glyphicon-arrow-down"}}></i></td>
                <td class="col col-sm-2"><a class="nounder">Actions</a></td>
            </tr>
        </thead>
        <tbody class="text-left">
            {{#each usercluster in controller.sortable_clusters}}
            <tr>
            	<td {{bind-attr id='usercluster.cluster_name_id'}}>{{#link-to 'cluster.management' usercluster.id}}{{usercluster.cluster_name}}{{/link-to}}</td>
                <td>{{formatDate usercluster.action_date format='shortdatetime'}}</td>
                <td><span data-toggle="tooltip" data-placement="top" data-trigger='hover focus click' data-animation=false {{bind-attr data-title='usercluster.cluster_status_verbose'}}> 
                	<i {{bind-attr id='usercluster.cluster_status_id' class='usercluster.cluster_status_class'}}></i> {{usercluster.cluster_status_pending}}</span>
                </td>
                <td><i {{bind-attr id='usercluster.hadoop_status_id' class="usercluster.cluster_hadoop_status_class"}}></i>{{usercluster.hadoop_status_verbose}}</td>
                <td>{{usercluster.cluster_size}}</td>
                {{#if usercluster.hadoop_status_active}}
                {{#if usercluster.ecosystem_or_cloudera}}
                <td><span data-toggle="tooltip" data-placement="top" data-trigger='hover' {{bind-attr data-title='usercluster.workflow_tooltip_msg'}}><a {{bind-attr href="usercluster.workflow_link"}} 
                	target="_blank"><b class="glyphicon glyphicon-ok text-warning"></b></a></span></td>
                {{else}}
                <td></td>
                {{/if}}
                {{else}}
                <td></td>
                {{/if}}
                {{#if usercluster.hadoop_status_active}}
                	<td><a {{bind-attr id='usercluster.cluster_ip_id' href='usercluster.cluster_url'}} target="_blank">{{usercluster.master_IP}}</a></td>
                {{else}}
                	<td><span class="text-muted">{{usercluster.master_IP}}</span></td>
                {{/if}}
                <td>
                {{#if usercluster.cluster_status_active}}
                {{#if usercluster.cluster_confirm_action}}
                <div class="btn-group  btn-block">
				    <a role="button" {{bind-attr id='usercluster.cluster_confirm_id'}} {{action 'takeClusterAction' usercluster}} class="btn btn-danger btn-xs active">{{usercluster.cluster_confirm_action_verbose}}</a>
				    <a role="button" {{action 'confirmClusterAction' usercluster false}} class="btn btn-danger btn-xs active">x</a>
				</div>
                {{else}}
                <div class='btn-group btn-block'>
                	<div class="pull-left" data-toggle="tooltip" data-placement="top" data-title='DESTROY CLUSTER'><button {{bind-attr id='usercluster.cluster_destroy_id'}} class="btn btn-xs btn-default"{{action 'confirmClusterAction' usercluster 'cluster_delete'}}>
                		<b {{bind-attr class='usercluster.cluster_status_class_destroy'}}></b> </button></div>
                	<div class="pull-left" data-toggle="tooltip" data-placement="top" data-title='START HADOOP'><button {{bind-attr id='usercluster.hadoop_start_id'}} class="btn btn-xs btn-default" {{action 'confirmClusterAction' usercluster 'hadoop_start'}}{{bind-attr disabled=usercluster.hadoop_action_start_disabled}}> 
                		<b {{bind-attr class='usercluster.hadoop_status_class_start'}}></b> </button></div>
                	<div class="pull-left" data-toggle="tooltip" data-placement="top" data-title='STOP HADOOP'><button {{bind-attr id='usercluster.hadoop_stop_id'}} class="btn btn-xs btn-default" {{action 'confirmClusterAction' usercluster 'hadoop_stop'}}{{bind-attr disabled=usercluster.hadoop_action_stop_disabled}}> 
                		<b {{bind-attr class='usercluster.hadoop_status_class_stop'}}></b> </button></div>
                	<div class="pull-left"  data-toggle="tooltip" data-placement="top" data-title='FORMAT HDFS'> <button {{bind-attr id='usercluster.hadoop_format_id'}} class="btn btn-xs btn-default" {{action 'confirmClusterAction' usercluster 'hadoop_format'}}{{bind-attr disabled=usercluster.hadoop_action_format_disabled}}> 
                		<b {{bind-attr class='usercluster.hadoop_status_class_format'}}></b> </button></div>
                	{{#if usercluster.boolean_scale_cluster_applicable}}
                    <div class="pull-left" data-toggle="tooltip" data-placement="top" data-title='SCALE_CLUSTER'> <button {{bind-attr id='usercluster.cluster_scale_id'}} class="btn btn-xs btn-default" {{action 'goto_scale_cluster' usercluster.id}}{{bind-attr disabled='slaves_resize_disabled'}}> 
                        <b class="glyphicon glyphicon-resize-full text-warning"></b> </button></div>
                    {{/if}}
                </div>
                {{/if}}	
                {{/if}}
                </td>
            </tr>
            </tr>
            {{else}}
            <tr>
                <td colspan="8" class="text-center text-info">No user clusters found</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
