<span id="string_pixel_count" style="visibility:hidden">{{dataLoader}}</span>
<div id="wrap">
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div id="logo_overlay">
			        <a {{bind-attr href='homeURL'}} class="navbar-brand" data-container="body" 
                        data-toggle="popover" 
                        data-placement="bottom"
                        data-trigger='hover focus'
                        data-html=true
                        data-content='<i class="glyphicon glyphicon-home">Home</i>'>
                        <img class="img-responsive" src="{{unbound STATIC_URL}}images/orka.png" alt="Orka" width="65"/>
                    </a>
                </div>
			</div>
			<div class="navbar-collapse collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="id_services_dd">Services <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
							    {{#link-to 'cluster.create' id="id_create_cluster"}}<i class="glyphicon glyphicon-cloud"></i> Create Cluster</a>{{/link-to}}
							</li>
							<li>
							    {{#link-to 'vreserver.create' id="id_create_vre"}}<i class="glyphicon glyphicon-blackboard"></i> Create VRE</a>{{/link-to}}
							</li>
							<li>
                                {{#link-to 'dsl.create' id="id_create_dsl"}}<i class="glyphicon glyphicon-share"></i> Create Experiment Metadata</a>{{/link-to}}
                            </li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="id_info_dd">Information <b class="caret"></b></a>
						<ul class="dropdown-menu">							
							<li>
								{{#link-to 'help.images' id="id_help_images"}}<i class="glyphicon glyphicon-list-alt"></i> Hadoop Images Components</a>{{/link-to}}
							</li>
							<li>
                                {{#link-to 'help.vreimages' id="id_help_vreimages"}}<i class="glyphicon glyphicon-list-alt"></i> VRE Images Components</a>{{/link-to}}
                            </li>
                            <li>
                                {{#link-to 'help.experiments' id="id_help_experiments"}}<i class="glyphicon glyphicon-list-alt"></i> Reproducible Experiments Metadata</a>{{/link-to}}
                            </li>				
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{{#if loggedIn}}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="id_login_dd">
                            <i class="glyphicon glyphicon-user"></i> {{user_name}}{{name_of_user}}<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                {{#link-to 'user.logout' id="id_logout"}}<i class="glyphicon glyphicon-log-out"></i> Logout{{/link-to}}
                            </li>
                        </ul>
                    </li>
					{{else}}
					    {{#link-to 'user.login' id="id_login" class="btn btn-primary navbar-btn"}}<i class="glyphicon glyphicon-log-in"></i> Login{{/link-to}}	
					{{/if}}
				</ul>
				{{#if loggedIn}}                
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="id_themes_dd">Theme <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {{#each theme in userTheme}}
                            <li>
                                <a href="#" id="myCurrentPage" {{action "change_theme" theme.url}}>{{theme.name}}</a>
                            </li>
                            {{/each}}                                                   
                        </ul>
                    </li>
                </ul>
                {{/if}}
			</div>
		</div>
	</div>

	<!-- Begin page content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				{{outlet}}
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<div class="container">
		<hr/>
		<div class="row">
			<div class="col-lg-12">
				<ul class="list-inline list-unstyled">
					<li class="pull-right text-muted">
						<a href="https://accounts.okeanos.grnet.gr/ui/approval_terms" target="_blank">Terms of use</a>
					</li>
					<span class="pull-right text text-muted" style="vertical-align: middle">&#124;</span>
                    <li class="pull-right text-muted">
                        <a href="https://github.com/grnet/e-science" target="_blank">Github Repo</a>
                    </li>
					<li>
						<a href="http://europa.eu/" target="_blank" title="European Union"><img src="{{unbound STATIC_URL}}images/european_union.png"
						alt="European Union"
						height="30"></a>
					</li>
					<li>
						<a href="http://www.digitalplan.gov.gr/portal/" target="_blank" title="Digital Greece"><img
						src="{{unbound STATIC_URL}}images/digitalgreece.png" alt="Digital Greece" height="30"></a>
					</li>
					<li>
						<a href="http://www.espa.gr/en/Pages/Default.aspx" target="_blank" title="NSRF"><img src="{{unbound STATIC_URL}}images/NSRF.png"
						alt="NSRF"
						height="30"></a>
					</li>
					<li>
					    <a href="https://www.grnet.gr/" target="_blank" title="GRNET"><img src="{{unbound STATIC_URL}}images/grnet_logo.png"
				        alt="GRNET"
				        height="30"></a>
					</li>
				</ul>
				<p class="text-muted">
					The project is co-financed by Greece and the European Union.
				</p>

				<p class="text-muted">
					Copyright 2014-2016 <a title="GRNET S.A." target="_blank" href="http://www.grnet.gr/en/">GRNET
					S.A.</a> All rights
					reserved.
				</p>
			</div>
		</div>
	</div>
</div>
