<div class="page-header row">
	<div class=h3>Welcome to <img src="{{unbound STATIC_URL}}images/orka.png" height="80"></span></div>
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
	    <p></p>
		<p>eScience is a cloud-based integrated service platform for big data analytics offered by GRNET and the associated <a href="http://okeanos.grnet.gr" target="_blank">~okeanos</a> 
			<span data-toggle="tooltip" data-placement="auto-right" data-trigger='hover focus click' data-title="Infrastructure as a Service">IaaS</span>.
		</p>
                <p class="text big">Visit the GRNET <a href="https://okeanos.grnet.gr/platforms/orka/" target="_blank">eScience</a> portal page for general information, latest news, features, and media content about the ~orka service.</p>
		<p>With ~orka you are {{#link-to 'user.login'}}one click{{/link-to}} away from your own Virtual Hadoop and Research environments.</p>
	</div>
	<div class="col-lg-8 col-md-8 hidden-sm hidden-xs pull-right">
		<img class="img-responsive" src="{{unbound STATIC_URL}}images/big_data_logo.png" alt="Hadoop cluster"> <!-- height="300" width="768"-->
	</div>
</div>
<div class="row">
    <h4>
            STATISTICS
    </h4>
	<div class="col-sm-6">
		<p class="col-sm-6">
			Spawned Clusters: <span class="h4 text-lg text-info">{{printBigNum spawned_clusters separator=','}}</span>
		</p>
		<p class="col-sm-6">
			Active Clusters: <span class="h4 text-lg text-success">{{printBigNum active_clusters separator=','}}</span>
		</p>
	</div>
	<div class="col-sm-6">
	    <p class="col-sm-6">
            Spawned VREs: <span class="h4 text-lg text-info">{{printBigNum spawned_vres separator=','}}</span>
        </p>
        <p class="col-sm-6">
            Active VREs: <span class="h4 text-lg text-success">{{printBigNum active_vres separator=','}}</span>
        </p>
	</div>
</div>
<div class="row">
    <div class="col-lg-12">
        {{#if news_items.length}}
        <hr />
            <p class="h4">
                LATEST NEWS
           </p>
            {{#each newsitem in news_items}}
            <p>{{formatDate newsitem.news_date format='shortdatemon'}} : {{newsitem.news_message}}</p>
         {{/each}}
        {{/if}}
    </div>      
</div>
