<p></p>
<div class="well well-lg text-center v-center">
	<div class="row">
		<h2 id = 'id_title_help_images'>Image Components Information</h2>
		<p></p>
		<p>Choose below an eScience Hadoop image to see its included software components and versions</p>
	</div>
</div>
<ul id="id_available_images" class="nav nav-tabs">
	{{#each image in orkaImages}}
	<li {{bind-attr class="image.active_image:active"}}>
		<a  {{bind-attr href="image.image_href"}} data-toggle="tab">{{image.image_name}}</a>
	</li>
	{{/each}}
</ul>
<div id="id_image_components" class="tab-content">
	{{#each image in orkaImages}}
	<div {{bind-attr id="image.image_pithos_uuid" class="image.active_image:tab-pane:tab-pane image.active_image:active"}}>
        <div class="col-sm-9 pull-left">
		<table class="table table-striped table-hover table-border">
			<tr>
				<td class="col-sm-3 text-center h4">Component</td>
				<td class="col-sm-3 text-center h4">Version</td>
				<td class="col-sm-6 text-center h4">Homepage</td>
			</tr>
			{{#each component in image.image_components}}
			<tr>
				<td class="col-sm-3 text-center text-info"><span>{{component.name}}</span></td>
				<td class="col-sm-3 text-center text-success"><span class="text-success">{{component.property.version}}</span></td>
				<td class="col-sm-6 text-center"><a {{bind-attr href="component.property.help"}} target="_blank">{{component.property.help}}</td>
			</tr>
			{{/each}}
		</table>
		</div>
        <div class="col-sm-3"></div>
	</div>
	{{/each}}
</div>
