<p></p>
<div class="well well-lg text-center v-center">
	<div class="row">
	<h3 id = 'id_title_cluster_create_route'>Hadoop Cluster Configuration</h3>
	<div class="col col-sm-3"></div>
	{{#if no_project_selected}}
	<div id="id_alert_noproject" class="alert alert-dismissable alert-warning col-sm-6">
		<button type="button" class="close" data-dismiss="alert">×</button>
		Please <a href="#" {{action 'focus_project_selection'}}>select</a> a project.
	</div>
	{{/if}}
	<div class="col col-sm-3"></div>
	</div>    
</div>
<div class="panel panel-primary">
    <div id="id_project_selection" class="panel-heading text-center v-center">
        <h3 class="panel-title">~Okeanos Project Selection</h3>
    </div>
    <div class="panel-body">
        <div class="col col-lg-8">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="project_id" class="control-label col col-sm-4">Projects</label>
                    <div class="col col-sm-8">
                        {{view Ember.Select contentBinding="projects_av"
                        valueBinding="project_details" id="project_id" prompt="*Select project*"
                        selectionBinding="selected_project"
                        class="btn-primary btn-sm text-left"}}
                    </div>
                </div>                
            </div>
	    	<div class="text-center text-danger">
	    	    {{alert_mes_network}}
	    	</div>
	    	<div class="text-center text-danger">
	    		{{alert_mes_float_ip}}
	    	</div>
        </div>        
        <div class="col col-lg-4 col-lg-offset-0 col-md-offset-4 col-sm-offset-3">
            <div class="text-left">
                <button class="btn btn-primary btn-sm" 
                id = id_apply_last_cluster
                data-container="body" 
                data-toggle="popover" 
                data-placement="bottom-auto"
                data-trigger='hover focus click'
                data-html=true
                {{bind-attr data-content=last_conf_message}} 
                {{action "applyLastCluster"}}
                >
                Apply Last Cluster Configuration</button>
            </div>
	        <div class="row text-center text-danger">
	            <div class="col col-sm-8">
	                {{alert_mes_last_conf}}
	            </div>
	        </div>            
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div id = "common_settings" class="panel-heading text-center v-center">
        <h3 class="panel-title">Common Settings</h3>
    </div>
    <div class="panel-body">
        <div class="col col-sm-6">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="os_systems" class="control-label col-sm-5"> Available Images </label>
                    <div class="col col-sm-7">
                        {{view Ember.Select contentBinding="project_current.os_choices"
                        valueBinding="operating_system" id="os_systems"
                        selectionBinding="selected_image"
                        class="btn btn-primary btn-sm"}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="size_of_cluster" class="control-label col-sm-5">Cluster size </label>
                    <div class="col col-sm-7">
                        {{view Ember.Select contentBinding="max_cluster_size_av"
                        valueBinding="cluster_size" prompt="Select size" id="size_of_cluster"
                        selectionBinding="selected_size"
                        class="btn btn-primary btn-sm text-left"}}
                    </div>
                </div>
                <div class="row text-center text-danger">
                    <div class="col col-sm-6">
                        {{alert_mes_cluster_size}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="cluster_name" class="control-label col-sm-4">Cluster Name</label>
                    <div class="col col-sm-8">
                        {{view Ember.TextField valueBinding="cluster_name"
                        id="cluster_name" class="input-sm form-control"
                        placeholder="cluster_name"}}
                    </div>
                </div>
                <div class="row text-center text-danger">
                    <div id = "alert_mes_cluster_name" class="col col-sm-6">
                        {{alert_mes_cluster_name}}
                    </div>
                </div>
              <div class="form-group">
                    <label for="names_of_ssh_keys" class="control-label col-sm-4">public keys </label>
                    <div class="col col-sm-8">
                        {{view Ember.Select contentBinding="ssh_keys_av"
                        valueBinding="ssh_key_selection" prompt="Select public key" id="ssh_key"
                        class="btn btn-primary btn-sm text-left"}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Storage: </label>
                    <div class="col col-sm-8">
                        <div class="btn-group">
                            {{#each item in project_current.disk_template}}
                            {{#view App.StorageSelButView value=item
                            name="storage_button" class="btn btn-primary btn-sm"
                            disabled=storage_Not_Allow}}{{item}}{{/view}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer text-center">
        <div class="row">
            <div class="col col-sm-6">
                ~okeanos project maximum cluster size:
                {{project_current.vms_max}}
            </div>
            <div class="col col-sm-6">

            </div>
        </div>
    </div>

</div>

<div class="panel panel-primary">
    <div id = "master_settings" class="panel-heading text-center v-center">
        <h3 class="panel-title">Master Settings</h3>
    </div>
    <div class="panel-body text-center">
	    <div class="row horizontal">
	        <div class="col col-sm-3">
	        </div>	
	        <div class="col col-sm-5">
	            <h4 id = "vm_flavors_Master" class="btn-group">Predefined VM Flavors: </h4>
                <div class="btn-group">
	                {{#each item in project_current.vm_flavors_choices}}
		            {{#view App.VMFlavorSelButView value=item name="vm_flavor_button_master"
		            class="btn btn-primary btn-sm" disabled = false}}
		            {{item}}{{/view}}
		            {{/each}}
                    </div>
	        </div>
	        <div class="col col-sm-4">
	        </div>
        </div>
        <div class="row">
            <div class="col col-sm-4">
                <h4 id = "master_cpu_summary">CPUs: {{this.master_cpu_selection}} </h4>
                <div class="btn-group">
                    {{#each item in project_current.cpu_choices}}
                    {{#view App.CPUSelButView value=item name="master_cpus_button"
                    class="btn btn-primary btn-sm" disabled=master_cpus_Not_Allow}}
                    {{item}}x{{/view}}
                    {{/each}}
                </div>
            </div>
            <div class="col col-sm-4">
                <h4 id="master_ram_summary">RAM: {{this.master_ram_selection}} </h4>
                <div class="btn-group">
                    {{#each item in project_current.ram_choices}}
                    {{#view App.RAMSelButView value=item name="master_ram_button"
                    class="btn btn-primary btn-sm" disabled=master_ram_Not_Allow}}
                    {{item}}{{/view}}
                    {{/each}}
                </div>
            </div>
            <div class="col col-sm-4">
                <h4 id="master_disk_summary">Disk Size: {{this.master_disk_selection}} </h4>
                <div class="btn-group">
                    {{#each item in project_current.disk_choices}}
                    {{#view App.DiskSelButView value=item name="master_disk_button"
                    class="btn btn-primary btn-sm" disabled=master_disk_Not_Allow}}
                    {{item}}{{/view}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row text-center text-danger">
            <div id = "alert_mes_master_cpu" class="col col-sm-4">
                {{alert_mes_master_cpu}}
            </div>
            <div id = "alert_mes_master_ram" class="col col-sm-4">
                {{alert_mes_master_ram}}
            </div>
            <div id = "alert_mes_master_disk" class="col col-sm-4">
                {{alert_mes_master_disk}}
            </div>
        </div>
    </div>
    <div class="panel-footer text-center">
        <div class="row">
            <div class="col col-sm-4">
                CPUs ({{this.cpu_available}} available)
            </div>
            <div class="col col-sm-4">
                RAM size ({{this.ram_available}} MB available)
            </div>
            <div class="col col-sm-4">
                Disk size ({{this.disk_available}} GB available)
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div id = "slaves_settings" class="panel-heading text-center v-center">
        <h3 class="panel-title">Slaves Settings</h3>
    </div>
    <div class="panel-body text-center">
	    <div class="row horizontal">
	        <div class="col col-sm-3"></div>	
	        <div class="col col-sm-5">
	            <h4 id = "vm_flavors_Slave" class="btn-group">Predefined VM Flavors: </h4>
                <div class="btn-group">
	                {{#each item in project_current.vm_flavors_choices}}
		            {{#view App.VMFlavorSelButView value=item name="vm_flavor_button_slaves"
		            class="btn btn-primary btn-sm" disabled = false}}
		            {{item}}{{/view}}
		            {{/each}}
                </div>
	        </div>
	        <div class="col col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col col-sm-4">
                <h4 id = "slaves_cpu_summary">CPUs each: {{this.slaves_cpu_selection}}</h4>
                <div class="btn-group">
                    {{#each item in project_current.cpu_choices}}
                    {{#view App.CPUSelButView value=item name="slaves_cpus_button"
                    class="btn btn-primary btn-sm" disabled=slaves_cpus_Not_Allow}}
                    {{item}}x{{/view}}
                    {{/each}}
                </div>
            </div>
            <div class="col col-sm-4">
                <h4 id="slaves_ram_summary">RAM each: {{this.slaves_ram_selection}}</h4>
                <div class="btn-group">
                    {{#each item in project_current.ram_choices}}
                    {{#view App.RAMSelButView value=item name="slaves_ram_button" class="btn btn-primary btn-sm" disabled=slaves_ram_Not_Allow}}{{item}}{{/view}}
                    {{/each}}
                </div>
            </div>
            <div class="col col-sm-4">
                <h4 id="slaves_disk_summary">Disk Size each: {{this.slaves_disk_selection}}</h4>
                <div class="btn-group">
                    {{#each item in project_current.disk_choices}}
                    {{#view App.DiskSelButView value=item name="slaves_disk_button"
                    class="btn btn-primary btn-sm" disabled=slaves_disk_Not_Allow}}
                    {{item}}{{/view}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row text-center text-danger">
            <div id = "alert_mes_slaves_cpu" class="col col-sm-4">
                {{alert_mes_slaves_cpu}}
            </div>
            <div id = "alert_mes_slaves_ram" class="col col-sm-4">
                {{alert_mes_slaves_ram}}
            </div>
            <div id = "alert_mes_slaves_disk" class="col col-sm-4">
                {{alert_mes_slaves_disk}}
            </div>
        </div>
    </div>
    <div class="panel-footer text-center">
        <div class="row">
            <div class="col col-sm-4">
                CPUs ({{this.cpu_available}} available)
            </div>
            <div class="col col-sm-4">
                RAM size ({{this.ram_available}} MB available)
            </div>
            <div class="col col-sm-4">
                Disk size ({{this.disk_available}} GB available)
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
	<div id = "hdfs_configuration" class="panel-heading text-center v-center">
        <h3 class="panel-title">Hdfs Configuration</h3>
    </div>
    <div class="panel-body">
    	<div class="row">
	    	<div class="col col-sm-4 text-left">
	            <div class="form-horizontal">
	                <div class="form-group">
	                    <label for="replication_factor" class="control-label col-sm-7">Replication Factor</label>
	                    <div class="col col-sm-5">
	                        {{view Ember.TextField valueBinding="replication_factor"
	                        id="replication_factor" class="input-sm form-control"
	                        placeholder="2 (default)"}}
	                    </div>
	                </div>
				</div>
			</div>
			<div class="col col-sm-4 text-left">
	            <div class="form-horizontal">
	                <div class="form-group">
	                    <label for="dfs_blocksize" class="control-label col-sm-7">Hdfs blocksize in MB</label>
	                    <div class="col col-sm-5">
	                        {{view Ember.TextField valueBinding="dfs_blocksize"
	                        id="dfs_blocksize" class="input-sm form-control"
	                        placeholder="128 (default)"}}
	                    </div>
	                </div>
				</div>
			</div>
			<div class="col col-sm-4 text-left">
				<button class="btn btn-primary btn-sm" id = id_hdfs_configuration {{action "default_hdfs_configuration"}} >
					Default HDFS Configuration
				</button>
			</div>
		</div>
		<div class="row text-center text-danger">
            <div id = "alert_mes_replication_factor" class="col col-sm-5">
                {{alert_mes_replication_factor}}
            </div>
            <div id = "alert_mes_dfs_blocksize" class="col col-sm-5">
                {{alert_mes_dfs_blocksize}}
            </div>
        </div>
        <div class="row text-center text-danger">
        	<div class="col col-sm-6">
				{{#view App.TextFileUpload id="upload" action="upload_file" class="btn btn-primary btn-sm"}} Upload {{/view}}
			</div>
		</div>
	</div>
    	
    </div>
</div>
<div class="row">
    <div class="col col-sm-2"></div>
    <div class="col col-sm-2">
        <button id="cancel" class="next btn btn-default btn-md btn-block" {{action "cancel"}}>
            Cancel
        </button>
    </div>
    <div class="col col-sm-6">
        {{#view App.CreateClusterButView id="next"
        class="next btn btn-success btn-md btn-block"}}
        Create Cluster
        {{/view}}
        <h4>{{message}}</h4>
    </div>
    <div class="col col-sm-2"></div>
</div>

