<!--User picks a category (portal/cms for now) and then an image from this category (Drupal 7.x for now) using dropdown menus
Can also select server name, project name, flavor, ssh-key-->
<p></p>
<div class="well well-lg text-center v-center">
	<div class="row">
	<h3 id = 'id_title_cluster_create_route'>VRE Server Configuration</h3>
	<div class="col col-sm-3"></div>
	{{#if boolean_no_project}}
	<div id="id_alert_noproject" class="alert alert-dismissable alert-warning col-sm-6">
		<button type="button" class="close" data-dismiss="alert">×</button>
		Please <a href="#" {{action 'focus_project_selection'}}>select</a> a project.
	</div>
	{{/if}}
	<div class="col col-sm-3"></div>
	</div>    
</div>

<div class="panel panel-primary">
    <div id="id_project_selection" class="panel-heading text-center v-center">
        <h3 class="panel-title">~Okeanos Project Selection</h3>
    </div>
    <div class="panel-body">
        <div class="col col-lg-8">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="project_id" class="control-label col col-sm-4">Projects</label>
                    <div class="col col-sm-8">
                        {{view "select" 
                        content=model
                        optionValuePath="content.id"
                        optionLabelPath="content.project_name_clean"
                        value=selected_project_id
                        prompt="*Select project*"
                        id="id_project_id"
                        class="btn-primary btn-sm text-left"}}
                    </div>
                </div>                
            </div>
	    	<div class="text-center text-danger">
	    	    {{alert_mes_network}}
	    	</div>
	    	<div class="text-center text-danger">
	    		{{alert_mes_float_ip}}
	    	</div>
        </div>        
        <div class="col col-lg-4 col-lg-offset-0 col-md-offset-4 col-sm-offset-3">
            <div class="text-left">
                <button class="btn btn-primary btn-sm" 
                id = id_apply_last_cluster
                data-container="body" 
                data-toggle="popover" 
                data-placement="bottom-auto"
                data-trigger='hover focus click'
                data-html=true
                {{bind-attr data-content=last_conf_message}} 
                {{action "applyLastCluster"}}
                >
                Apply Last VRE Server Configuration</button>
            </div>
	        <div class="row text-center text-danger">
	            <div class="col col-sm-8">
	                {{alert_mes_last_conf}}
	            </div>
	        </div>            
        </div>
    </div>
</div>

<div class="panel panel-primary">
	<div id = "common_settings" class="panel-heading text-center v-center">
		<h3 class="panel-title">Common Settings</h3>
	</div>
	<div class="panel-body">
		<div class="col col-sm-6">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="id_vre_category" class="control-label col-sm-5"> Category </label>
					<div class="col col-sm-7">
						{{view "select" 
                        content=vre_categories
						value=selected_category_id
						prompt="*Select category*"
						id="id_vre_category"
						class="btn-primary btn-sm text-left"}}
						<button
						id=id_components_info
						data-toggle="popover"
						data-placement="bottom"
						data-trigger="hover focus click"
						data-html=true
						data-title='<b>Component</b>: <span class="text text-info"><b>Version</b></span>'
						{{bind-attr data-content=version_message class="info_popover_visible:btn:hide info_popover_visible:btn-primary:hide info_popover_visible:btn-sm:hide"}}
						>
							<b class="glyphicon glyphicon-info-sign"></b>
						</button>
					</div>
				</div>
				<div class="form-group">
					<label for="id_vre_image" class="control-label col-sm-5"> Image </label>
					<div class="col col-sm-7">
						{{view "select" 
						content=selected_project_images
						value=selected_image_id
						prompt="*Select image*" 
						id="id_vre_image"
						class="btn-primary btn-sm text-left"}}
					</div>
				</div>
				<div class="row text-center text-danger">
					<div class="col col-sm-6">
						{{alert_mes_cluster_size}}
					</div>
				</div>
			</div>
		</div>
		<div class="col col-sm-6">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="cluster_name" class="control-label col-sm-4">VRE Server Name</label>
					<div class="col col-sm-8">
						{{view Ember.TextField valueBinding="server_name"
						id="id_server_name" class="input-sm form-control"
						placeholder="server_name"}}
					</div>
				</div>
				<div class="row text-center text-danger">
					<div id = "alert_mes_cluster_name" class="col col-sm-6">
						{{alert_mes_cluster_name}}
					</div>
				</div>
				<div class="form-group">
					<label for="names_of_ssh_keys" class="control-label col-sm-4">public keys </label>
					<div class="col col-sm-8">
						{{view "select"
						content=selected_project_sshkeys
						value=selected_ssh_key_id
						prompt="Select public key" 
						id="id_ssh_key"
						class="btn-primary btn-sm text-left"}}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Storage: </label>
					<div class="col col-sm-8">
						<div class="btn-group">
							{{#each item in project_current.disk_template}}
							{{#view App.StorageSelButView value=item
							name="storage_button" class="btn btn-primary btn-sm"
							disabled=storage_Not_Allow}}{{item}}{{/view}}
							{{/each}}
						</div>
						<div class="row text-center text-danger">
							<div id = "alert_mes_cluster_name" class="col col-sm-6">
								{{alert_mes_disk_template}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer text-center">
		<div class="row">
			<div class="col col-sm-6">

			</div>
			<div class="col col-sm-6">
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div id = "master_settings" class="panel-heading text-center v-center">
        <h3 class="panel-title">Hardware Settings</h3>
    </div>
    <div class="panel-body text-center">
	    <div class="row horizontal">
	        <div class="col col-sm-3">
	        </div>	
	        <div class="col col-sm-5">
	            <h4 id = "vm_flavors_Master" class="btn-group">Predefined VRE Flavors: </h4>
                <div class="btn-group">
	                {{#each item in project_current.vm_flavors_choices}}
		            {{#view App.VMFlavorSelButView value=item name="vm_flavor_button_master"
		            class="btn btn-primary btn-sm" disabled = false}}
		            {{item}}{{/view}}
		            {{/each}}
                </div>
	        </div>
	        <div class="col col-sm-4">
	        </div>
        </div>
        <div class="row">
            <div class="col col-sm-4">
                <h4 id = "master_cpu_summary">CPUs: {{this.master_cpu_selection}} </h4>
                <div class="btn-group">
                    {{#each item in project_current.cpu_choices}}
                    {{#view App.CPUSelButView value=item name="master_cpus_button"
                    class="btn btn-primary btn-sm" disabled=master_cpus_Not_Allow}}
                    {{item}}x{{/view}}
                    {{/each}}
                </div>
            </div>
            <div class="col col-sm-4">
                <h4 id="master_ram_summary">RAM: {{this.master_ram_selection}} </h4>
                <div class="btn-group">
                    {{#each item in project_current.ram_choices}}
                    {{#view App.RAMSelButView value=item name="master_ram_button"
                    class="btn btn-primary btn-sm" disabled=master_ram_Not_Allow}}
                    {{item}}{{/view}}
                    {{/each}}
                </div>
            </div>
            <div class="col col-sm-4">
                <h4 id="master_disk_summary">Disk Size: {{this.master_disk_selection}} </h4>
                <div class="btn-group">
                    {{#each item in project_current.disk_choices}}
                    {{#view App.DiskSelButView value=item name="master_disk_button"
                    class="btn btn-primary btn-sm" disabled=master_disk_Not_Allow}}
                    {{item}}{{/view}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row text-center text-danger">
            <div id = "alert_mes_master_cpu" class="col col-sm-4">
                {{alert_mes_master_cpu}}
            </div>
            <div id = "alert_mes_master_ram" class="col col-sm-4">
                {{alert_mes_master_ram}}
            </div>
            <div id = "alert_mes_master_disk" class="col col-sm-4">
                {{alert_mes_master_disk}}
            </div>
        </div>
    </div>
    <div class="panel-footer text-center">
        <div class="row">
            <div class="col col-sm-4">
                CPUs ({{this.cpu_available}} available)
            </div>
            <div class="col col-sm-4">
                RAM size ({{this.ram_available}} MB available)
            </div>
            <div class="col col-sm-4">
                Disk size ({{this.disk_available}} GB available)
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-sm-2"></div>
    <div class="col col-sm-2">
        <button id="id_cancel" class="btn btn-default btn-md btn-block" {{action "cancel"}}>
            Cancel
        </button>
    </div>
    <div class="col col-sm-6">
        {{#view App.CreateClusterButView id="id_create_server"
        class="btn btn-success btn-md btn-block"}}
        Create VRE Server
        {{/view}}
        <h4>{{message}}</h4>
    </div>
    <div class="col col-sm-2"></div>
</div>
<div id="test">
    selected: {{selected_project_id}} {{selected_project_description}}<br />
    choices: 
    {{#each choice in selected_project_images}}{{choice}}{{/each}}
    selected: {{selected_image_id}} {{selected_image_description}}
    {{#each project in model}}
    <p>{{project.ssh_keys_names}}</p>
    {{/each}}
</div>
