<!--User picks a category (portal/cms for now) and then an image from this category (Drupal 7.x for now) using dropdown menus
Can also select server name, project name, flavor, ssh-key-->
<p></p>
<div class="well well-lg text-center v-center">
	<div class="row">
	<h3 id = 'id_title_cluster_create_route'>VRE Server Configuration</h3>
	<div class="col col-sm-3"></div>
	{{#if boolean_no_project}}
	<div id="id_alert_noproject" class="alert alert-dismissable alert-warning col-sm-6">
		<button type="button" class="close" data-dismiss="alert"></button>
		Please <a href="#" {{action 'focus_project_selection'}}>select</a> a project.
	</div>
	{{/if}}
	<div class="col col-sm-3"></div>
	</div>    
</div>

<div class="panel panel-primary">
    <div id="id_project_selection" class="panel-heading text-center v-center">
        <h3 class="panel-title">~Okeanos Project Selection</h3>
    </div>
    <div class="panel-body">
        <div class="col col-lg-8">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="id_project_id" class="control-label col col-sm-4">Projects</label>
                    <div class="col col-sm-8">
                        {{view "select" 
                        content=content
                        optionValuePath="content.id"
                        optionLabelPath="content.project_name_decorated"
                        value=selected_project_id
                        prompt="*Select project*"
                        id="id_project_id"
                        class="btn-primary btn-sm text-left"}}
                    </div>
                </div>                
            </div>
	    	<div class="text-center text-danger">
	    		{{alert_missing_input_project}}{{alert_no_project_resources}}
	    	</div>
        </div>        
        <div class="col col-lg-4 col-lg-offset-0 col-md-offset-4 col-sm-offset-3">
            <div class="text-left">
                <button class="btn btn-primary btn-sm" 
                id = id_apply_last_server
                data-container="body" 
                data-toggle="popover" 
                data-placement="bottom-auto"
                data-trigger='hover focus click'
                data-html=true
                {{bind-attr data-content=last_vre_popover_data}}
                {{action "apply_last_config"}}
                >
                Apply Last VRE Server Configuration</button>
            </div>
	        <div class="row text-center text-danger">
	            <div class="col col-sm-8">
	                {{alert_last_conf_no_resources}}
	            </div>
	        </div>            
        </div>
    </div>
    <div class="panel-footer text-left">
        <div class="row">
            <div class="col col-sm-3"></div>
            <div class="col col-sm-9">
                {{#unless boolean_no_project}}
                Selected project resources VMs:{{selected_project_available_vm}} IPs:{{selected_project_available_ip}}
                {{else}}
                <span class="text text-muted">~okeanos project resource info</span>
                {{/unless}}
            </div>
        </div>
    </div>    
</div>

<div class="panel panel-primary">
	<div id = "common_settings" class="panel-heading text-center v-center">
		<h3 class="panel-title">Common Settings</h3>
	</div>
	<div class="panel-body">
		<div class="col col-sm-6">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="id_vre_category" class="control-label col-sm-5"> Category </label>
					<div class="col col-sm-7">
						{{view "select" 
                        content=vre_categories
						value=selected_category
						prompt="*Select category*"
						id="id_vre_category"
						class="btn-primary btn-sm text-left"}}
					</div>
				</div>
				<div class="form-group">
					<label for="id_vre_image" class="control-label col-sm-5"> Image </label>
					<div class="col col-sm-7">
						{{view "select" 
						content=selected_project_images
						value=selected_image
						prompt="*Select image*" 
						id="id_vre_image"
						class="btn-primary btn-sm text-left"}}
						<button
                        id=id_components_info
                        data-toggle="popover"
                        data-placement="bottom"
                        data-trigger="hover focus click"
                        data-html=true
                        {{bind-attr data-content=selected_image_components class="selected_image_popover:btn:hide selected_image_popover:btn-primary:hide selected_image_popover:btn-sm:hide"}}
                        >
                            <b class="glyphicon glyphicon-info-sign"></b>
                        </button>
					</div>
				</div>
                <div class="row text-center text-danger">
                    <div class="col col-sm">
                        {{alert_missing_input_image}}
                    </div>
                </div>				
				{{#if show_admin_password_input}}
				<div class="form-group">
				    <label for="id_vre_admin_pass" class="control-label col-sm-5"> Admin Pass </label>
				    <div class="col col-sm-7">
    				    <div class="input-group">				        
    				        {{input type="text" 
                            value=vre_admin_pass
                            placeholder="Upper/lowercase letters and numbers"
                            required="true"
                            id="id_vre_admin_pass"
                            action="admin_pass_validate"
                            on="focus-out"
                            classNames="input-sm form-control"}}
                            <span class="input-group-btn">
                                <button
                                id=id_admin_pass_random
                                data-toggle="tooltip"
                                data-placement="top"
                                data-trigger="hover focus"
                                data-container="body"
                                title="Generate random password"
                                class="btn btn-primary btn-sm"
                                {{action "admin_pass_generate"}}
                                >
                                    <b class="glyphicon glyphicon-random"></b>
                                </button>
                            </span>                         
    				    </div>
				    </div>
				<div class="row text-center text-danger">
                    <div class="col col-sm">
				    {{alert_missing_input_admin_pass}}{{alert_invalid_input_admin_pass}}
				    </div>
                </div>  
				{{/if}}
                {{#if show_admin_email_input}}
                <div class="form-group">
                    <label for="id_vre_admin_email" class="control-label col-sm-5"> Admin Email </label>              
                    <div class="col col-sm-7">                       
                        {{input type="email" 
                        value=vre_admin_email
                        placeholder="admin@example.com"
                        id="id_vre_admin_email"
                        action="admin_email_validate"
                        on="focus-out"
                        classNames="input-sm form-control"}}
                    </div>
                </div>
                <div class="row text-center text-danger">
                    <div class="col col-sm">
                    {{alert_missing_input_admin_email}}{{alert_invalid_input_admin_email}}
                    </div>
                </div>  
                {{/if}}
			</div>
		</div>
		<div class="col col-sm-6">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="id_server_name" class="control-label col-sm-4">VRE Server Name</label>
					<div class="col col-sm-8">
					    {{input type="text" 
					    value=vre_server_name
					    placeholder="VRE server name"
					    required="true"
					    id="id_server_name"
					    action="pick_server_name"
					    on="focus-out"
					    classNames="input-sm form-control"}}
					</div>
				</div>
				<div class="row text-center text-danger">
					<div id = "alert_mes_cluster_name" class="col col-sm-6">
						{{alert_missing_input_server_name}}
					</div>
				</div>
				<div class="form-group">
					<label for="id_ssh_key" class="control-label col-sm-4">public keys </label>
					<div class="col col-sm-8">
						{{view "select"
						content=selected_project_sshkeys
						value=selected_sshkey
						prompt="Select public key" 
						id="id_ssh_key"
						class="btn-primary btn-sm text-left"}}
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Storage: </label>
					<div class="col col-sm-8">
					    <div id="id_storage_choice" class="btn-group" data-toggle="buttons">
                            {{#eachidx storage in selected_project_storage_choices}}
                              <label class="btn btn-sm btn-primary" {{bind-attr id=storage}} {{action "pick_storage" index storage}}>
                                <input type="radio" name="storage_choices" {{bind-attr id=index}}>{{storage}}
                              </label>
                            {{/eachidx}}
                        </div>
						<div class="row text-center text-danger">
							<div id = "alert_mes_cluster_name" class="col col-sm-6">
								{{alert_missing_input_storage}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-primary">
    <div id = "master_settings" class="panel-heading text-center v-center">
        <h3 class="panel-title">Hardware Settings</h3>
    </div>
    <div class="panel-body text-center">
	    <div class="row horizontal">
	        <div class="col col-sm-3">
	        </div>	
	        <div class="col col-sm-6">
	            <label for="id_vre_flavors" class="h4">Predefined VRE Flavors: </label>
                <div id="id_vre_flavors" class="btn-group" data-toggle="buttons">
	                {{#eachidx flavor in vre_flavor_available_choices}}
                      <label class="btn btn-sm btn-primary" {{bind-attr id=flavor.value disabled=flavor.disabled}} {{action "pick_flavor" index flavor.value}}>
                        <input type="radio" name="flavors" {{bind-attr id=index}}>{{flavor.value}}
                      </label>
		            {{/eachidx}}
                </div>
	        </div>
	        <div class="col col-sm-3">
	        </div>
        </div>
        <div class="row">
            <div class="col col-sm-4">
                <h4 id="id_vre_cpu_summary">CPUs: {{selected_cpu_value}} </h4>
                <div id="id_cpu_choice" class="btn-group" data-toggle="buttons">
                    {{#eachidx cpu_choice in selected_project_cpu_choices_available}}
                      <label class="btn btn-sm btn-primary" {{bind-attr id=cpu_choice.value disabled=cpu_choice.disabled}} {{action "pick_cpu" index cpu_choice.value}}>
                        <input type="radio" name="cpu_choices" {{bind-attr id=index}}>{{cpu_choice.value}}
                      </label>
                    {{/eachidx}}
                </div>
            </div>
            <div class="col col-sm-4">
                <h4 id="id_vre_ram_summary">RAM: {{selected_ram_value}} </h4>
                <div id="id_ram_choice" class="btn-group" data-toggle="buttons">
                    {{#eachidx ram_choice in selected_project_ram_choices_available}}
                      <label class="btn btn-sm btn-primary" {{bind-attr id=ram_choice.value disabled=ram_choice.disabled}} {{action "pick_ram" index ram_choice.value}}>
                        <input type="radio" name="ram_choices" {{bind-attr id=index}}>{{ram_choice.value}}
                      </label>
                    {{/eachidx}}
                </div>
            </div>
            <div class="col col-sm-4">
                <h4 id="id_vre_disk_summary">Disk Size: {{selected_disk_value}} </h4>
                <div id="id_disk_choice" class="btn-group" data-toggle="buttons">
                    {{#eachidx disk_choice in selected_project_disk_choices_available}}
                      <label class="btn btn-sm btn-primary" {{bind-attr id=disk_choice.value disabled=disk_choice.disabled}} {{action "pick_disk" index disk_choice.value}}>
                        <input type="radio" name="disk_choices" {{bind-attr id=index}}>{{disk_choice.value}}
                      </label>
                    {{/eachidx}}
                </div>
            </div>
        </div>
        <div class="row text-center text-danger">
            <div id = "id_alert_vre_cpu" class="col col-sm-4">
                {{alert_missing_input_cpu}}
            </div>
            <div id = "id_alert_vre_ram" class="col col-sm-4">
                {{alert_missing_input_ram}}
            </div>
            <div id = "id_alert_vre_disk" class="col col-sm-4">
                {{alert_missing_input_disk}}
            </div>
        </div>
    </div>
    <div class="panel-footer text-center">
        <div class="row">
            <div class="col col-sm-4">
                CPUs ({{selected_project_available_cpu}} available)
            </div>
            <div class="col col-sm-4">
                RAM size ({{selected_project_available_ram}} MiB available)
            </div>
            <div class="col col-sm-4">
                Disk size ({{selected_project_available_disk}} GiB available)
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-sm-2"></div>
    <div class="col col-sm-2">
        <button id="id_cancel" class="btn btn-default btn-md btn-block" {{action "cancel"}}>
            Cancel
        </button>
    </div>
    <div class="col col-sm-6">
        <button id="id_create_server" class="btn btn-success btn-md btn-block" {{bind-attr disabled="boolean_no_project"}} {{action "submit_create"}}>
            Create VRE Server
        </button>
        <h4 class="text-left text-danger">{{message}}</h4>
    </div>
    <div class="col col-sm-2"></div>
</div>
