<p></p>
<div class="well well-sm text-center">
	<div class="row">
	<h3 id = 'id_title_user_welcome_route'> Welcome </h3>
	<div class="col col-sm-3"></div>
	<div class="alert alert-dismissable alert-success col-sm-6">
		<button type="button" class="close" data-dismiss="alert">×</button>
		You are <strong>logged in.</strong> You can {{#link-to 'cluster.create'}}create cluster{{/link-to}}  from the Services menu.
	</div>
	<div class="col col-sm-3"></div>
	</div>
</div>
<div class="row">
	<div class="col col-sm-5">
		<ul class="list-group list-unstyled">
			 <li class="list-group-item text-center">
			 	<h4 class="list-group-item-heading">User info</h4>
			 </li>
		  <li class="list-group-item text-md">
		  	<span class="badge">{{model.user_id}}</span><h4>User ID:</h4>
		  </li>
		  <li class="list-group-item text-md">
		  	<span class="badge">{{model.cluster}}</span><h4>Active Clusters: </h4>
		  </li>
		</ul>
	</div>
	<div class="col col-sm-7 pull-right">
		<div class="panel panel-default text-left">
			<ul class="list-group list-unstyled">
			<li class="list-group-item text-center">
			 	<span class="h4"> Messages </span><span>({{user_messages.length}}/10)</span>
				<div class="btn-group pull-right">
					<button class="btn btn-xs btn-primary" {{action 'removeMessage' 1 true}}{{bind-attr disabled=no_messages}}>
					Clear all<b class="glyphicon glyphicon-trash text-danger v-center"></b></button>
				</div>
			 </li>
			{{#each message in user_messages}}
				<li {{bind-attr class="message.msg_type_to_list_style"}}><strong>{{message.msg_text}}</strong>
					<a href="#" role="button" class="nounder pull-right" {{action 'removeMessage' message.id}}><i class="glyphicon glyphicon-trash active v-center"></i></a>
				</li>
			{{/each}}
			</ul>
		</div>
	</div>
</div>
<hr>
{{partial 'user/userclusters'}}
