<div class="text-center" style="vertical-align: middle">
    <form class="form-horizontal" role="form">
        <div class="col-sm-6">
        	{{#if model.boolean_scale_cluster_applicable}}
            <div class="form-group">
                <fieldset {{bind-attr disabled="slaves_resize_disabled"}}>
                <legend class="h5"> Scale Cluster Form</legend>
                <label class="control-label col-sm-5" for="id_scale_cluster_help">Help </label>
                <div class="col-sm-7">
                    <p class="form-control-static"><span class="text text-left text-info">Set the desired new size and use Scale Cluster to apply changes </span></p>
                </div>
                <label class="control-label col-sm-5" for="id_number_of_slaves">Number of Slaves </label>
                <div class="col col-sm-7">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">{{cluster_slaves_delta_decorated}}</span>
                        <input id="id_number_of_slaves" type="text" class="form-control" readonly="readonly" placeholder="slaves" {{bind-attr value="cluster_slaves_newsize"}}/>
                        <span class="input-group-btn">
                            <button id="id_slave_subtract" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" data-title='Decrement Slaves'{{bind-attr disabled="slaves_decrement_disabled"}} {{action "decrement_size"}}>
                                <i class="glyphicon glyphicon-minus"></i>
                            </button>
                            <button id="id_slave_add" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" data-title='Increment Slaves' {{bind-attr disabled="slaves_increment_disabled"}} {{action "increment_size"}}>
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                            <button id="id_cluster_size_reset" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" data-title='Reset' {{action "reset_size"}}>
                                <i class="glyphicon glyphicon-refresh"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <label class="control-label col-sm-5" for="id_slaves_settings">Resources per Slave </label>
                <div class="col-sm-7">
                    <p class="form-control-static"><span class="text text-info"> CPUs:{{content.cpu_slaves}}, RAM:{{content.ram_slaves}}MiB, 
                        Disk size:{{content.disk_slaves}}GiB </span></p>
                </div>
                </fieldset>
            </div>
        	{{/if}}
        	<div class="form-group">
        	    <fieldset>
        	    <legend class="h5">Create DSL Form</legend>
                <label class="control-label col-sm-5" for="id_dsl_filename">DSL filename </label>
                <div class="col col-sm-7">
                    <div class="input-group input-group-sm">
                        <input id="id_dsl_filename" type="text" class="form-control" placeholder="cluster_name-cluster_id-YYYY-MM-DD-HH-mm-ss" {{bind-attr value="dsl_filename"}}/>
                        <span class="input-group-btn">
                            <button id="id_dsl_filename_default" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" data-title='Set Default' {{action "dsl_filename_default"}}>
                                <i class="glyphicon glyphicon-pencil"></i>
                            </button>
                        </span>
                    </div>
                </div>

                <label class="control-label col-sm-5" for="id_pithos_destination">Pithos destination </label>
                <div class="col col-sm-7">
                    <div class="input-group input-group-sm">
                        <input id="id_pithos_destination" type="text" class="form-control" placeholder="pithos" {{bind-attr value="dsl_pithos_path"}}/>
                        <span class="input-group-btn">
                            <button id="id_dsl_pithos_default" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" data-title='Set Default' {{action "dsl_pithospath_default"}}>
                                <i class="glyphicon glyphicon-pencil"></i>
                            </button>
                        </span>
                    </div>
                </div>
                </fieldset>
            </div>
        </div>
        <div class="col-sm-6">
            <table class="table table-condensed table-bordered">
                <thead class="h5"><tr><td>Cluster Status</td><td>Hadoop Status</td></tr></thead>
                <tr class="text text-info">
                    <td><i {{bind-attr class="content.cluster_status_class"}}></i>{{content.cluster_status_verbose}}</td>
                    <td><i {{bind-attr class="content.cluster_hadoop_status_class"}}></i>{{content.cluster_hadoop_status}}</td>
                </tr>
                <tr class="text text-warning"><td>{{content.cluster_status_pending}}</td><td>{{content.hadoop_status_verbose}}</td></tr>
            </table>          
        </div>
    </form>
</div>
