<div class="text-center" style="vertical-align: middle">
    <form class="form-horizontal" role="form">
        <div class="col-sm-6">
            <table class="table table-condensed table-bordered">
                <thead class="h4"><tr><td>Cluster Status</td><td>Hadoop Status</td></tr></thead>
                <tr><td>{{content.cluster_status_verbose}}</td><td>{{content.cluster_hadoop_status}}</td></tr>
                <tr><td>{{content.cluster_status_pending}}</td><td>{{content.hadoop_status_verbose}}</td></tr>
            </table>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <fieldset {{bind-attr disabled="slaves_resize_disabled"}}>
                <label class="control-label col-sm-5" for="id_number_of_slaves">Number of Slaves </label>
                <div class="input-group input-group-md col-sm-7">
                    <span class="input-group-addon">{{cluster_slaves_delta_decorated}}</span>
                    <input id="id_number_of_slaves" type="text" class="form-control" readonly="readonly" placeholder="slaves" {{bind-attr value="cluster_slaves_newsize"}}/>
                    <span class="input-group-btn">
                        <button id="id_slave_subtract" type="button" class="btn btn-primary" {{bind-attr disabled="slaves_decrement_disabled"}} {{action "decrement_size"}}>
                            <i class="glyphicon glyphicon-minus"></i>
                        </button>
                        <button id="id_slave_add" type="button" class="btn btn-primary" {{bind-attr disabled="slaves_increment_disabled"}} {{action "increment_size"}}>
                            <i class="glyphicon glyphicon-plus"></i>
                        </button> 
                    </span>
                </div>
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <div class="col col-sm-7"></div>
            <div class="col col-sm-2">
            <fieldset {{bind-attr disabled="slaves_resize_disabled"}}>
            <button id="id_reset_size" class="btn btn-default btn-md btn-block" {{action "reset_size"}}>
                Reset
            </button>
            </fieldset>
            </div>
            <div class="col col-sm-3">
            <fieldset {{bind-attr disabled="slaves_resize_disabled"}}>
            <button id="id_apply_size" class="btn btn-success btn-md btn-block" {{action "apply_resize"}}>
                Apply
            </button>
            </fieldset>
            </div>
        </div>
    </form>
</div>
