<!--User picks a cluster_id and pithos metadata and saves cluster configuration for use in reproducible experiments-->
<p></p>
<div class="well well-lg text-center v-center">
	<div class="row">
	<h3 id = 'id_title_cluster_create_route'>Reproducible Experiments</h3>
	<div class="col col-sm-3"></div>
	<div class="col col-sm-3"></div>
	</div>    
</div>

<div class="panel panel-primary">
    <div id="id_project_selection" class="panel-heading text-center v-center">
        <h3 class="panel-title">Reproducible Experiment Metadata</h3>
    </div>
    <div class="panel-body">
        <div class="col col-sm-10">
            <div class="text-center" style="vertical-align: middle">
                <form class="form-horizontal" role="form">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-5" for="id_dsl_cluster">Source Cluster</label>
                            <div class="col col-sm-7">
                                {{view "select" 
                                content=filtered_clusters
                                optionValuePath="content.id"
                                optionLabelPath="content.cluster_name_noprefix"
                                value=selected_cluster_id
                                prompt="*Select cluster*"
                                id="id_dsl_cluster"
                                class="btn-primary btn-sm btn-block text-left"}}
                            </div>
                            <div class="row text-center text-danger col col-sm-12">
                                {{alert_missing_input_dsl_source}}
                            </div>
                            <label class="control-label col-sm-5" for="id_dsl_filename">Metadata filename </label>
                            <div class="col col-sm-7">
                                <div class="input-group input-group-sm">
                                    {{input type="text" 
                                    value=dsl_filename
                                    placeholder="name_id_date_time-cluster-metadata"
                                    required="true"
                                    id="id_dsl_filename"
                                    classNames="form-control"}}
                                    <span class="input-group-btn">
                                        <button id="id_dsl_filename_default" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" data-title='Set Default' {{action "dsl_filename_default"}}>
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="row text-center text-danger col col-sm-12">
                                {{alert_missing_input_dsl_name}}
                            </div>
                            <label class="control-label col-sm-5" for="id_pithos_destination">Pithos destination </label>
                            <div class="col col-sm-7">
                                <div class="input-group input-group-sm">
                                    {{input type="text" 
                                    value=dsl_pithos_path
                                    placeholder="container"
                                    required="true"
                                    id="id_pithos_destination"
                                    classNames="form-control"}}
                                    <span class="input-group-btn">
                                        <button id="id_dsl_pithos_default" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" data-title='Set Default' {{action "dsl_pithospath_default"}}>
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="row text-center text-danger col col-sm-12">
                                {{alert_missing_input_pithos_path}}
                            </div>
                            <div class="col col-sm-5"></div>
                            <div class="col col-sm-7">
                                <button {{bind-attr id='model.id_dsl_create'}} class="btn btn-sm btn-primary btn-block"{{action 'dsl_create'}}>
                                        Save Metadata <b class="glyphicon glyphicon-save-file text-success"></b>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        
        </div>
    </div>
    <div class="panel-footer text-center">
        <div class="row">
            <div class="col col-sm-12">
                {{#unless boolean_no_cluster}}
                Cluster Size: {{selectec_cluster_size}} Master Flavor: {{selected_cluster_master_flavor}} 
                Slaves Flavor: {{selected_cluster_slaves_flavor}} Project: {{selected_cluster_project}}
                {{else}}
                <span class="text text-muted">selected cluster info</span>
                {{/unless}}
            </div>
        </div>
    </div>    
</div>

