<!--User picks a cluster_id and pithos metadata and saves cluster configuration for use in reproducible experiments-->
<p></p>
<div class="well well-lg text-center v-center">
	<div class="row">
	<h3 id = 'id_title_cluster_create_route'>Reproducible Experiments</h3>
	<div class="col col-sm-3"></div>
	<div class="col col-sm-3"></div>
	</div>    
</div>

<div class="panel panel-primary">
    <div id="id_project_selection" class="panel-heading text-center v-center">
        <h3 class="panel-title">Reproducible Experiment Metadata</h3>
    </div>
    <div class="panel-body">
        <div class="col col-sm-12">
            <div class="text-center" style="vertical-align: middle">
                <form class="form-horizontal" role="form">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-5" for="id_dsl_cluster">Source Cluster</label>
                            <div class="col col-sm-7">
                                <div class="input-group input-group-sm">
	                                {{view "select" 
	                                content=filtered_clusters
	                                optionValuePath="content.id"
	                                optionLabelPath="content.cluster_name_noprefix"
	                                value=selected_cluster_id
	                                prompt="*Select cluster*"
	                                id="id_dsl_cluster"
	                                class="btn-primary btn-sm btn-block text-left"}}
	                                <span class="input-group-btn">
	                                	<button id="id_select_cluster_reset" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" data-title='Reset to import Metadata' {{action "reset"}}>
		                                    <i class="glyphicon glyphicon-refresh"></i>
		                            	</button>
	                                </span>
                                </div>
                            </div>
                            <div class="row text-center text-danger col col-sm-12">
                                {{alert_missing_input_dsl_source}}
                            </div>
                            <div class="row">
                                <div class="col col-sm-5">
                                    <label class="control-label pull-right" for="id_dsl_cluster_filter">Only Active</label>
                                </div>
                                <div class="col col-sm-7">
                                    {{input type="checkbox" name="active_filter" id="id_dsl_cluster_filter" class="checkbox" checked=cluster_active_filter}}
                                </div>
                            </div>
                            <label class="control-label col-sm-5" for="id_dsl_filename">Metadata Filename </label>
                            <div class="col col-sm-7">
                                <div class="input-group input-group-sm">
                                    {{input type="text" 
                                    value=dsl_filename
                                    placeholder="filename"
                                    required="true"
                                    id="id_dsl_filename"
                                    classNames="form-control"}}
                                    <span class="input-group-btn">
                                        <button id="id_dsl_filename_default" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" data-title='Set Default' {{bind-attr disabled="create_dsl_disabled"}} {{action "dsl_filename_default"}}>
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="row text-center text-danger col col-sm-12">
                                {{alert_missing_input_dsl_name}}
                            </div>
                            <label class="control-label col-sm-5" for="id_pithos_destination">Pithos path </label>
                            <div class="col col-sm-7">
                                <div class="input-group input-group-sm">
                                    {{input type="text" 
                                    value=dsl_pithos_path
                                    placeholder="path"
                                    required="true"
                                    id="id_pithos_destination"
                                    classNames="form-control"}}
                                    <span class="input-group-btn">
                                        <button id="id_dsl_pithos_default" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" data-title='Set Default' {{bind-attr disabled="create_dsl_disabled"}} {{action "dsl_pithospath_default"}}>
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="row text-center text-danger col col-sm-12">
                                {{alert_missing_input_pithos_path}}
                            </div>
                            <div class="col col-sm-5"></div>
                            <div class="col col-sm-7">
                                <button {{bind-attr id='model.id_dsl_create'}} {{bind-attr disabled="create_dsl_disabled"}} class="btn btn-sm btn-primary btn-block"{{action 'dsl_create' "create"}}>
                                        Save Metadata <b class="glyphicon glyphicon-save-file text-success"></b>
                                </button>
                            </div>
                            <div class="col col-sm-5"></div>
                            <div class="col col-sm-7">
                            	<button {{bind-attr id='model.id_import_dsl'}} {{bind-attr disabled="import_dsl_disabled"}} class="btn btn-sm btn-primary btn-block"{{action 'dsl_create'}}>
                                        Import Metadata <b class="glyphicon glyphicon-import text-success"></b>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-5 text-center">Help </label>
                        </div>
                        <div class="col-sm-9">
                            <p class="form-control-static"><span class="text text-center text-info">Insert the name of the DSL file to be imported and the pithos path to it <b>or</b> select a cluster and create a new DSL file by typing in the desirable filename and the pithos destination to be saved </span></p>
                        </div>
                    </div> 
                    <!--<div class="form col-sm-6" role="form">
                        <div class="form-group">
                            <div class="col-sm-12">
                                {{!--textarea rows="8" value=experiment_yaml class="textarea form-control textarea_100" classNames="textarea form-control textarea_100"--}}
                            </div>
                            <label class="control-label">{{!--dsl_filename--}}</label>
                        </div>
                    </div>-->
                </form>
            </div>
        
        </div>
    </div>
    <div class="panel-footer text-center">
        <div class="row">
            <div class="col col-sm-12">
                {{#unless boolean_no_cluster}}
                Cluster Size: {{selected_cluster_size}} Master Flavor: {{selected_cluster_master_flavor}} 
                Slaves Flavor: {{selected_cluster_slaves_flavor}} Project: {{selected_cluster_project}}
                {{else}}
                <span class="text text-muted">selected cluster info</span>
                {{/unless}}
            </div>
        </div>
    </div>    
</div>

