<!--User picks a cluster_id and pithos metadata and saves cluster configuration for use in reproducible experiments-->
<p></p>
<div class="well well-lg text-center v-center">
	<div class="row">
	<h3 id = 'id_title_cluster_create_route'>Reproducible Experiments</h3>
	<div class="col col-sm-3"></div>
	<div class="col col-sm-3"></div>
	</div>    
</div>

<div class="panel panel-primary">
    <div id="id_project_selection" class="panel-heading text-center v-center">
        <h3 class="panel-title">Create Experiment Metadata</h3>
    </div>
    <div class="panel-body">
        <div class="col col-sm-12">
            <div class="text-center" style="vertical-align: middle">
                <form class="form-horizontal" role="form">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-5" for="id_dsl_cluster">Source Cluster</label>
                            <div class="col col-sm-7">
                                {{view "select" 
                                content=filtered_clusters
                                optionValuePath="content.id"
                                optionLabelPath="content.cluster_name_noprefix"
                                value=selected_cluster_id
                                prompt="*Select cluster*"
                                id="id_dsl_cluster"
                                class="btn-primary btn-sm btn-block text-left"}}
                            </div>
                            <div class="row text-center text-danger col col-sm-12">
                                {{alert_missing_input_dsl_source}}
                            </div>
                            <div class="row">
                                <div class="col col-sm-5">
                                    <label class="control-label pull-right" for="id_dsl_cluster_filter">Only Active</label>
                                </div>
                                <div class="col col-sm-7">
                                    {{input type="checkbox" name="active_filter" id="id_dsl_cluster_filter" class="checkbox" checked=cluster_active_filter}}
                                </div>
                            </div>
                            <label class="control-label col-sm-5" for="id_dsl_filename">Metadata Destination</label>
                            <div class="col col-sm-7">
                                <div class="input-group input-group-sm"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    data-html=true
                                    data-title="<p>Type in or generate a destination filename</p>">
                                    {{input type="text" 
                                    value=dsl_filename
                                    placeholder="Filename"
                                    required="true"
                                    id="id_dsl_filename"
                                    classNames="form-control"}}
                                    <span class="input-group-btn">
                                        <button id="id_dsl_filename_default" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" data-title='Set Default' {{action "dsl_filename_default"}}>
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="row text-center text-danger col col-sm-12">
                                {{alert_missing_input_dsl_name}}
                            </div>
                            <label class="control-label col-sm-5" for="id_pithos_destination">Pithos Destination</label>
                            <div class="col col-sm-7">
                                <div class="input-group input-group-sm" 
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    data-html=true
                                    data-title="<p>Type in a or generate a Pithos container</p>">
                                    {{input type="text" 
                                    value=dsl_pithos_path
                                    placeholder="Path"
                                    required="true"
                                    id="id_pithos_destination"
                                    classNames="form-control"}}
                                    <span class="input-group-btn">
                                        <button id="id_dsl_pithos_default" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="right" data-title='Set Default' {{action "dsl_pithospath_default"}}>
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="row text-center text-danger col col-sm-12">
                                {{alert_missing_input_pithos_path}}
                            </div>
                            <div class="col col-sm-5"></div>
                            <div class="col col-sm-7">
                                <button {{bind-attr id='model.id_dsl_create'}} {{bind-attr disabled="create_dsl_disabled"}} class="btn btn-sm btn-primary btn-block"{{action 'dsl_create'}}>
                                        Save Metadata <b class="glyphicon glyphicon-save-file text-success"></b>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <dl class="dl-horizontal">
                                <dt class="text-left">Save Metadata</dt>
                                    <dd class="text-info text-left">Select a Hadoop cluster as metadata source, fill in a filename and Pithos path and press Save.</dd>
                            </dl>
                        </div>
                        {{#unless boolean_no_cluster}}
                        <table class="table table-bordered table-condensed">
                            <thead class="h5 strong"><tr><td></td><td>CPU (cores)</td><td>RAM (MiB)</td><td>DISK (GiB)</td></tr></thead>
                            <tbody>
                               <tr><td class="h5 strong">Master</td><td class="text text-info">{{selected_cluster.[0].cpu_master}}</td><td class="text text-info">{{selected_cluster.[0].ram_master}}</td><td class="text text-info">{{selected_cluster.[0].disk_master}}</td></tr>
                               <tr><td class="h5 strong">Slaves <span class="clear text text-info">{{selected_cluster_slaves_number}}</span></td><td class="text text-info">{{selected_cluster.[0].cpu_slaves}}</td><td class="text text-info">{{selected_cluster.[0].ram_slaves}}</td><td class="text text-info">{{selected_cluster.[0].disk_slaves}}</td></tr>
                            </tbody>
                        </table>
                        {{/unless}}
                    </div> 
                </form>
            </div>
        </div>
    </div>    
</div>
<div class="panel panel-primary">
    <div id="id_project_selection" class="panel-heading text-center v-center">
        <h3 class="panel-title">Import Experiment Metadata</h3>
    </div>
    <div class="panel-body">
        <div class="col col-sm-12">
            <div class="text-center" style="vertical-align: middle">
                <form class="form-horizontal" role="form">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="row">
                            </div>
                            <label class="control-label col-sm-5" for="id_dsl_filename_import">Metadata Source</label>
                            <div class="col col-sm-7"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    data-html=true
                                    data-title="<p>Type in the source filename - case sensitive</p>">
                                    {{input type="text" 
                                    value=dsl_filename_import
                                    placeholder="Filename"
                                    required="true"
                                    id="id_dsl_filename_import"
                                    classNames="input-sm form-control"}}
                            </div>
                            <div class="row text-center text-danger col col-sm-12">
                                
                            </div>
                            <label class="control-label col-sm-5" for="id_pithos_path_import">Pithos Source</label>
                            <div class="col col-sm-7"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    data-html=true
                                    data-title="<p>Type in the location (container/path) of the Pithos file - case sensitive</p>">
                                    {{input type="text" 
                                    value=dsl_pithos_path_import
                                    placeholder="Path"
                                    required="true"
                                    id="id_pithos_path_import"
                                    classNames="input-sm form-control"}}
                            </div>
                            <div class="row text-center text-danger col col-sm-12">
                                {{alert_error_import_file}}
                            </div>
                            <div class="col col-sm-5"></div>
                            <div class="col col-sm-7">
                                <button {{bind-attr id='model.id_import_dsl'}} {{bind-attr disabled="import_dsl_disabled"}} class="btn btn-sm btn-primary btn-block"{{action 'dsl_import'}}>
                                        Import Metadata <b class="glyphicon glyphicon-import text-success"></b>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <dl class="dl-horizontal">
                                <dt class="text-left">Import Metadata</dt>
                                    <dd class="text-info text-left">Fill in an existing experiment metadata filename and Pithos path and press Import.</dd>
                            </dl>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
    <div class="panel-footer text-center">
        <div class="row">
            <div class="col col-sm-6 text-right">
                    <span class="h5 strong">(Full Pithos Path) </span>&nbsp;
                        <span class="text text-info strong">{{#unless import_dsl_disabled}}pithos://{{dsl_pithos_path_import}}/{{dsl_filename_import}}{{/unless}}</span>
            </div>
            <div class="col col-sm-6"></div>
        </div>
    </div>    
</div>